<nav class="bg-blue-400 p-4">
  <ul class="flex space-x-4">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="bg-blue-400 text-black"
        class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-white hover:text-black transition"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/doctors"
        routerLinkActive="bg-blue-400 text-black"
        class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-white hover:text-black transition"
      >
        Doctores
      </a>
    </li>
    <li>
      <a
        routerLink="/offices"
        routerLinkActive="bg-blue-400 text-black"
        class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-white hover:text-black transition"
      >
        Consultorios
      </a>
    </li>
    <li>
      <a
        routerLink="/specialities"
        routerLinkActive="bg-blue-400 text-black"
        class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-white hover:text-black transition"
      >
        Especialidades
      </a>
    </li>
  </ul>
</nav>
