
<div class="p-4 mt-20">
 <div class="flex justify-around align-center" >
    <h2 class="text-2xl font-bold text-black mb-4 text-center">
    Lista de especialidades
  </h2>
      <a
  routerLink="/specialities/create"
  class="bg-blue-400 text-white rounded text-center px-4 py-2 inline-flex items-center h-10 gap-2"
>
  <span>Nueva especialidad</span>
  <span class="text-xl font-bold">+</span>
</a>


 </div>
 @if(alertError){
   <div class="mt-5 flex justify-center" >
    <div class="flex justify-center items-center bg-red-500 w-150 h-10" >
  <p class="text-white font-medium" >{{alertError}}</p>
 </div>
   </div>
 }

  <div class="overflow-x-auto mt-10">
    <table class="min-w-full bg-white text-black rounded-xl overflow-hidden shadow-lg">
      <thead class="bg-white text-blue-400">
        <tr>
          <!-- <th class="py-3 px-4 text-left">#</th> -->
          <th class="py-3 px-4 text-left">Nombre</th>
          <th class="py-3 px-4 text-left">Descripción</th>
          <th class="py-3 px-4 text-left">N. Medicos</th>
           <th class="py-3 px-4 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (specialty of specialities; track specialty.specialityId) {
        <tr
          class="border-b border-gray-200 hover:bg-gray-100 transition-colors"
        >
          <!-- <td class="py-3 px-4">{{ specialty.specialityId }}</td> -->
          <td class="py-3 px-4 font-semibold text-blue-400">
            {{ specialty.name }}
          </td>
          <td class="py-3 px-4">{{ specialty.description }}</td>
           <td class="py-3 px-4">{{ specialty.nMedics }}</td>
           <td class="py-3 px-4 text-center">
            <button
              (click)="deleteSpecialitie(specialty.specialityId!)"
              class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg transition-colors"
            >
              Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
