
<div class="p-4 mt-20">
  <h2 class="text-2xl font-bold text-black mb-4 text-center">
    Lista de consultorios
  </h2>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white text-black rounded-xl overflow-hidden shadow-lg">
      <thead class="bg-white text-blue-400">
        <tr>
          <th class="py-3 px-4 text-left">#</th>
          <th class="py-3 px-4 text-left">Nombre</th>
          <th class="py-3 px-4 text-left">Ubicacion</th>
          <!-- <th class="py-3 px-4 text-left">N. Medicos</th> -->
        </tr>
      </thead>
      <tbody>
        @for (office of offices; track office.officeId) {
        <tr
          class="border-b border-white"
        >
          <td class="py-3 px-4">{{ office.officeId }}</td>
          <!-- <td class="py-3 px-4 font-semibold text-blue-400">
            {{ specialty.name }}
          </td> -->
          <td class="py-3 px-4">{{ office.officeName }}</td>
           <td class="py-3 px-4">{{ office.ubication }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
